html{
    background-color: rgb(202, 163, 120); ;
    height: auto;
    width: 100%;
    background: 
}
body{
    width: 95%;
    min-width: 640px;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    height: 700px;
    border: black 3px solid;
    background: url("environment.jpeg");
    background-size: 960px 700px;
}
li{
    list-style-type: none;
}
div.col-1-10, div.col-9-10{
    background-color: rgb(211, 161, 142);
}


nav#list1 a, nav#list2 a, nav#list3 a, nav#list4 a{
    width: 97%;
    display: block;
    float: left;
    text-align: center;
    color: rgb(0, 0, 0);
    background-color: rgb(211, 161, 142);
    text-decoration: none;
    font-family: 'Carter One', cursive;
    padding: 1.8px;
}
nav#list1 a:hover, nav#list2 a:hover, nav#list3 a:hover, nav#list4 a:hover{
    background: linear-gradient(90deg, rgb(0, 0, 0) 20%, rgb(112, 109, 84));
}


img#logo{
    padding: 5px;
    transform: translate(40px, 0px);
}
img#sedan{
    border: black 3px solid;
    width: 100%;
    transform: translate(15px,5px);
}


div#description{
    background: rgb(226, 172, 141);
    border: black 3px solid;
    transform: translate(5px, 5px);
    width: 45%;
    color: rgb(60, 92, 187);
}
h1, h2, p{
    padding: 5px;
    color: rgb(66,71,86);
}


button#default{
    background-color: rgb(208, 230, 89);
    color: rgb(5, 5, 5);
    border: rgb(66,71,86) 3px solid;
    font-size: 18px;
    transform: translate(-130px, 550px);
}
button#pink{
    background-color: rgb(208, 230, 89);
    color: rgb(20, 20, 19);
    border: rgb(66,71,86) 3px solid;
    font-size: 18px;
    transform: translate(-20px, 520px);
}
button#blue{
    background-color: rgb(208, 230, 89);
    color: rgb(19, 18, 17);
    border: rgb(66,71,86) 3px solid;
    font-size: 18px;
    transform: translate(80px, 490px);
}
button#purple{
    background-color: rgb(208, 230, 89);
    color: rgb(14, 13, 12);
    border: rgb(66,71,86) 3px solid;
    font-size: 18px;
    transform: translate(180px, 460px);
    
    
}


div[class^="col-"]{
    float: left;
}
div.col-1-2{width: 50%}
div.col-1-10{width: 10%}
div.col-9-10{width: 90%}
div.col-49{width: 49%}
div.col-51{width: 51%}