html{
    background: url("black_chrome.jpg");
    background-size: 960px 800px;
    height: auto;
    width: 100%;
}
body{
    width: 95%;
    min-width: 640px;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    height: 700px;
    border: white 3px solid;
    background: url("red_tint.jpg");
    background-size: 960px 700px;
}
li{
    list-style-type: none;
}
div.col-1-10, div.col-9-10{
    background-color: white;
}


nav#list1 a, nav#list2 a, nav#list3 a, nav#list4 a{
    width: 97%;
    display: block;
    float: left;
    text-align: center;
    color: black;
    background-color: white;
    text-decoration: none;
    font-family: 'Carter One', cursive;
    padding: 1.8px;
}
nav#list1 a:hover, nav#list2 a:hover, nav#list3 a:hover, nav#list4 a:hover{
    background: linear-gradient(90deg, white 20%, rgb(41,41,41));
    color: red;
}


img#logo{
    padding: 5px;
    transform: translate(40px, 0px);
}
img#sedan{
    border: black 3px solid;
    width: 100%;
    transform: translate(15px,-30px);
}


div#description{
    background: white;
    border: black 3px solid;
    transform: translate(5px, -30px);
    width: 45%;
    color: black;
}
h1, h2, p{
    padding: 5px;
    color: black;
}
h1#title{
    font-size: 48px;
    color: white;
}
figcaption{
    background-color: white;
    transform: translate(15px, -30px);
    font-family: 'Carter One', cursive;
    text-align: center;
    color: black;
}


div[class^="col-"]{
    float: left;
}
div.col-1-2{width: 50%}
div.col-1-10{width: 10%}
div.col-9-10{width: 90%}
div.col-49{width: 49%}
div.col-51{width: 51%}