html{
    background: linear-gradient(90deg, rgb(178, 44, 255) 20%, rgb(52, 0, 87));
    height: auto;
    width: 100%;
}
div[class ^="col"]{
    box-sizing: border-box;
}
body{
    width: 95%;
    min-width: 640px;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    border: gray 3px solid;
    height: 700px;
    background-color: white;
}
li{
    list-style-type: none;
}
div.col-1-10, div.col-9-10{
    background-color: rgb(32, 32, 32);
}


nav#list1 a, nav#list2 a, nav#list3 a, nav#list4 a{
    width: 97%;
    display: block;
    float: left;
    text-align: center;
    background-color: rgb(32, 32, 32);
    text-decoration: none;
    font-family: 'Carter One', cursive;
    padding: 1.8px;
    color: rgb(178, 44, 255);
}
nav#list1 a:hover, nav#list2 a:hover, nav#list3 a:hover, nav#list4 a:hover{
    background: linear-gradient(90deg, rgb(32, 32, 32) 20%, rgb(178, 44, 255));
    color: rgb(178, 44, 255);
}


img#logo{
    padding: 5px;
    transform: translate(40px, 0px);
}
img#mapLocation{
    border: gray 3px solid;
    width: 100%;
    transform: translate(15px,-30px);
}


div#description{
    background: rgb(52, 0, 87);
    border: gray 3px solid;
    transform: translate(5px, -30px);
    width: 45%;
    color: white;
}
h1, h2, p{
    padding: 5px;
}
h1#title{
    font-size: 48px;
    color: rgb(52, 0, 87);
}
figcaption{
    background-color: rgb(178, 44, 255);
    font-family: 'Carter One', cursive;
    text-align: center;
    color: rgb(52, 0, 87);
    transform: translate(17.5px,-30px);
}
div#description a{
    color: white;
}


button#default{
    background-color: gold;
    color: darkblue;
    border: darkblue 3px solid;
    font-size: 18px;
    transform: translate(0px, -10px);
}
button#luxe{
    background-color: black;
    color: gold;
    border: gold 3px solid;
    font-size: 18px;
    transform: translate(0px, 0px);
}
button#storm{
    background-color: rgb(178, 44, 255);
    color: purple;
    border: rgb(155, 155, 155) 3px solid;
    font-size: 18px;
    transform: translate(0px, 10px);
}
button#vendetta{
    background-color: rgb(0, 137, 201);
    color: white;
    border: rgb(160, 0, 0) 3px solid;
    font-size: 18px;
    transform: translate(0px, 20px);
}


div[class^="col-"]{
    float: left;
}
div.col-1-2{width: 50%}
div.col-1-10{width: 10%}
div.col-9-10{width: 90%}
div.col-49{width: 49%}
div.col-51{width: 51%}