html{
    background: url("black_chrome.jpg");
    background-size: 960px 700px;
    height: auto;
    width: 100%;
}
body{
    width: 95%;
    min-width: 640px;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    background: url("highway2.jpg");
    border: black 3px solid;
    height: 700px;
}
li{
    list-style-type: none;
}

div.col-1-10, div.col-9-10{
    background-color: white;
}
nav#list1 a, nav#list2 a, nav#list3 a, nav#list4 a{
    width: 97%;
    display: block;
    float: left;
    text-align: center;
    color: black;
    background-color: white;
    text-decoration: none;
    font-family: 'Carter One', cursive;
    padding: 1.8px;
}
nav#list1 a:hover, nav#list2 a:hover, nav#list3 a:hover, nav#list4 a:hover{
    background: linear-gradient(90deg, white 20%, rgb(41,41,41));
    color: red;
}
h1#gt, h1#horizon, h1#taiga{
    background-color: black;
    color: white;
    width: 16%;
}
h1#gt{
    transform: translate(775px, 200px);
}
h1#horizon{
    transform: translate(50px, -200px);
}
h1#taiga{
    transform: translate(100px,-800px);
}


img#logo{
    padding: 5px;
    transform: translate(40px, 0px);
}
img#sportCar{
    transform: translate(500px, 100px);
    margin-bottom: 0px;
}
img#suv{
    transform: translate(50px,-250px);
    margin-bottom: 0px;
}
img#truck{
    transform: translate(250px,-835px);
    margin-bottom: 0px;
}


figcaption{
    text-align: center;
    font-family: 'Carter One', cursive;
    font-size: 48px;
    color: white;
    background-color: black;
    width: 20%;
}


div[class^="col-"]{
    float: left;
}
div.col-1-2{width: 50%}
div.col-1-10{width: 10%}
div.col-9-10{width: 90%}