html{
    background-color: rgb(77,120,78);
    height: auto;
    width: 100%;
}
body{
    width: 95%;
    min-width: 640px;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(110,161,113);
}
li{
    list-style-type: none;
}


nav#list1 a, nav#list2 a{
    width: 100%;
    display: block;
    float: left;
    text-align: center;
    color: rgb(225,215,152);
    background-color: rgb(103,86,69);
    border: rgb(66,71,86) 3px solid;
    text-decoration: none;
}
nav#list2 a#location:hover{
    background-color: darkblue;
    color: gold;
    border: rgb(0,191,255) 3px solid;
}


button#default{
    background-color: red;
    color: white;
    border: black 3px solid;
    font-size: 18px;
}
button#military{
    background-color: rgb(110,161,113);
    color: rgb(66,71,86);
    border: rgb(77,120,78) 3px solid;
    font-size: 18px;
}
button#prince{
    background-color: darkblue;
    color: gold;
    border: rgb(0,191,255) 3px solid;
    font-size: 18px;
}
button#upbeat{
    background-color: yellow;
    color: gray;
    border: purple 3px solid;
    font-size: 18px;
}


div[class^="col-"]{
    float: left;
}
div.col-1-4{width: 25%}
div.col-3-4{width: 75%}