html{
    background: rgb(75, 74, 73);
     height: auto;
     width: 100%;
     background-position: center; /* Center the image */
     background-repeat: no-repeat; /* Do not repeat the image */
     background-size: cover;
 }
 body{
     width: 100%;
     min-width: 640px;
     max-width: 960px;
     margin-left: auto;
     margin-right: auto;
     height: 1000px;
     border: rgb(255, 255, 255)3px solid;
     background-color: rgb(224, 92, 68) ;
 }
li{
    list-style-type: none;
}

div.col-1-10, div.col-9-10{
    background-color: white;
}
nav#list1 a, nav#list2 a, nav#list3 a, nav#list4 a{
    width: 97%;
    display: block;
    float: left;
    text-align: center;
    color: black;
    background-color: white;
    text-decoration: none;
    font-family: 'Carter One', cursive;
    padding: 1.8px;
}
nav#list1 a:hover, nav#list2 a:hover, nav#list3 a:hover, nav#list4 a:hover{
    text-decoration: underline;
}


img#logo{
    padding: 5px;
    transform: translate(40px, 0px);
}
img#car{
    border: black 3px solid;
    
}

h1, h2, p{
    padding: 5px;
    font-family: 'Carter One', cursive;
}
figcaption{
    text-align: center;
    font-family: 'Carter One', cursive;
    font-size: 48px;
    color: white;
}
button#default{
    background-color: white;
    color: black;
    border: black 3px solid;
    font-size: 18px;
    transform: translate(0px, 10px);
}
button#sunset{
    color: rgb(212, 186, 42);
    background-color: rgb(72, 32, 80);
    border: rgb(204, 73, 73) 3px solid;
    font-size: 18px;
    transform: translate(0px, 15px);
}
button#clover{
    background-color: rgb(109, 226, 148);
    color: rgb(39, 87, 47);
    border: rgb(55, 126, 79) 3px solid;
    font-size: 18px;
    transform: translate(0px, 20px);
}
button#rainbow{
    background-color: rgb(248, 239, 105);
    color: rgb(202, 87, 67);
    border: rgb(39, 103, 177) 3px solid;
    font-size: 18px;
    transform: translate(0px, 25px);
}

div[class^="col-"]{
    float: left;
}
div.col-1-2{width: 50%}
div.col-1-10{width: 10%}
div.col-9-10{width: 90%}